/*leha*/
:root{
--bg-color: #002c50;  
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif; 
}

.header-shelf {
    width: 1180px;
    height: 68px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 4px solid #dcdcdc; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header-content {
    width: 100%;
    padding: 0 30px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.logo p {
    margin: 0;
    font-weight: 800;
    font-size: 22px;
    color: #0056A6;
    font-family: 'Geologica', sans-serif;
}


.search-container {
    flex-grow: 1; 
    max-width: 500px; 
    margin: 0 20px;
}

.search-container input {
    width: 100%;
    height: 38px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    padding: 0 15px;
    outline: none;
    transition: border-color 0.2s;
}

.search-container input:focus {
    border-color: #007bff;
}


.actions {
    display: flex;
    gap: 15px;
}

.icon-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.1s;
}

.icon-btn:hover {
    transform: scale(1.1);
}

/*bogdan*/
:root {
    --bg-color: #d9eeff;
    --pr-text-color: #0056a6;
    --sec-text-color: #75abdf;
    --shadow: #003cff0d;
}

body {
    background-color: var(--bg-color);
}

.main {
    display: grid;
    grid-column: 3;
    grid-row: 2;
}

.profile_card {
    background: linear-gradient(#f8fbff, #eef5ff);
    width: 280px;
    height: 259px;
    opacity: 1;
    top: 103px;
    left: 370px;
    border-radius: 20px;
    box-shadow: 0px 7px 30px 0px #003cff0d;
}

.avatar {
    width: 52px;
    height: 52px;
    opacity: 1;
    top: 124px;
    left: 390px;
    border-radius: 8px;
}

.avatar_image {
    width: 52px;
    height: 52px;
    opacity: 1;
    top: 124px;
    left: 390px;
    border-radius: 8px;
}
.name_text {
    font-family: Geologica;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 5%;
}

